{% extends 'base.html.twig' %}
{#{% form_theme form 'forms/forms_errors.html.twig' %}#}
{% block title %}Musée du Louvre - Réserver vos tickets{% endblock %}

{% block body %}
    <div class="container form-style">
        <div class="row">
            {% if not usersdto.status %}
                <div class="card-panel red lighten-4 orange-text text-darken-4">
                    Votre email n'a pas été confirmé. Veuillez cliquer sur le lien figurant dans votre email pour poursuivre votre commande.
                </div>
             {% else %}
                 <div class="card-panel green lighten-4 green-text text-darken-4">
                     Votre email a été confirmé. Vous pouvez poursuivre votre commande.
                 </div>
            {% endif %}
            <div class="card-title"><b>Renseignez vos informations personnelles > Réservez votre ou vos ticket(s)</b></div><br/>
            <div class="col s12 m12">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Informations personnelles</span>
                        <ul>
                            <li>Nom : {{ usersdto.name }}</li>
                            <li>Prénom : {{ usersdto.firstname }}</li>
                            <li>Email : {{ usersdto.email }}</li>
                            <li>Date de naissance : {{ usersdto.dateofbirth.date|date('d/m/Y') }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12"><h6>Réservation</h6>
                    <div class="right list-card-tickets">
                        <a id="add-tickets" class="waves-effect waves-light btn-small modal-trigger green" href="#modal1"><i class="material-icons left">add</i>Ajouter un ticket</a>
                    </div>
                </div>
                <div class="row tickets-contains">
                        <div class="col s12 m12 tickets-alert">
                            <div class="card-panel orange lighten-4 orange-text text-darken-4">Aucun ticket commandé. Ajouter un ticket avant de valider votre commande.</div>
                        </div>
                        <div class="col s12 m12 lists-tickets">
                        </div>
                </div>
                </div>

                <div class="col s12 m12 body-corps-tickets"><h6>Résultat de la commande</h6>
                    <hr/>
                    <p>Nombre de tickets commandés : <b class="nb-tickets-content">Aucun ticket commandé</b></p>
                    <p>Prix total des tickets : <b class="price-tickets-content">0€</b></p>
                </div>

                {{ form_start(form) }}
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h6>Saisir votre ticket</h6>
                            <div id="tickets-id-form" class="tickets" data-prototype="{{ form_widget(form.tickets.vars.prototype)|e }}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="close-form" class="waves-effect waves-green btn-flat" type="button">Fermer</button>
                            <button id="cancel-form" class="waves-effect waves-green btn-flat" type="reset">Annuler</button>
                            <button id="validate-form" class="waves-effect waves-green btn-flat" type="button">Valider</button>
                        </div>
                    </div>
                    <div class="col s12 m12">
                            <a class="waves-effect orange waves-light btn" href="/accounts"><i class="material-icons left">arrow_back</i>Retour</a>
                            {% if not usersdto.status %}
                                <div class="waves-effect grey waves-light btn right"><i class="material-icons right">arrow_forward</i>Suivant</div>
                            {% else %}
                                <button class="waves-effect green waves-light btn right" type="submit"><i class="material-icons right">arrow_forward</i>Suivant</button>
                            {% endif %}
                    </div>
                {{ form_end(form) }}
            </div>
    </div>
{% endblock %}